/*  Fontes */
/* cyrillic */
@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'), url(fonts/anonymos_pro.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Anonymous Pro Regular'), local('Titillium Web'), url(fonts/titillium.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* LABEL */
.book_label
{
  border: 1px solid #808080;
  border-radius: 5px;
  background-color: #e0e0e0;
  padding: 5px;
  margin-bottom: 15px;
}

/* Corpo */
body {
  margin: 0px;
  padding: 0px;

  font-family: 'Open Sans Condensed', sans-serif; 
  /* font-family: "Titillium Web","Anonymous Pro", sans-serif; */
  /* font-family: 'Anonymous Pro'; */
  color: #333333;
  /* line-height: 100%; */
  background-image: url("../img/background/background.jpg");
  background-color: #AAFFFF;
  background-repeat: no-repeat, repeat;
  background-size: cover; 
}

.header
{
  border-bottom: 2px solid #808080;
}
a, a:hover
{
  color: #333333;
}

.book_small
{
  font-size: 70%;
  line-height: 100%;
}
.book_image
{
  box-shadow: 5px 5px 8px #888888; 
  margin-bottom: 10px; 
  padding: 0px;
}
.book_image_div
{
  padding: 0px 10px;
}

.work_title
{
  font-size: 250%;
  line-height: 140%;
  font-weight: bold;   
}
.work_author
{
  font-size: 150%;
  line-height: 140%;
  font-style: italic;
  font-weight: bold;   
}

/*************************************************/
.s1_title
{
  font-size: 170%;
  font-weight: bold;
}
.s1_isbn13
{
  margin-top: 20px;
}
.s1_year
{
  margin-bottom: 10px;
}

.img_menu
{
  margin: 10px 5px;
  border: 12px solid #A0A0A0;
  border-radius: 15%;
  opacity: 0.6;
}

.img_menu:hover
{
  margin: 10px 5px;
  border: 12px solid #909090;
  opacity: 1;
}    


xinput[type=text]
{
  font-size: 22px;
  padding: 10px 10px;  
  margin: 8px 0;
  box-sizing: border-box;  
  border: 2px solid #888;
  border-radius: 4px;
  background-color: #e0e0f0;
}

.xform_control select, xselect {
  font-size: 22px;
  padding: 10px 10px;  
  margin: 8px 0;
  box-sizing: border-box;  
  border: 2px solid #888;
  border-radius: 4px;
  background-color: #e0e0f0;
}

input:focus {
  border: 2px solid #555;
}

#dd1x
{
  background-image: url('../img/icon/icon_find.png');
  background-position: 4px 4px; 
  background-repeat: no-repeat;  
  padding-left: 60px;
  icon_register
}

#dd2x
{
  background-image: url('../img/icon/icon_register.png');
  background-position: 4px 4px; 
  background-repeat: no-repeat;  
  padding-left: 60px;    
}

.img_cover
{
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;  
}

/* menu_config */
.menu_setup li, .menu_setup li a
{
  font-size: 20px;
  margin-left: 0px;
  line-height: 200%;
  list-style: none;
  color: #808080;
  text-decoration: none;
}

a
{
  opacity: 0.7;
}
a:hover
{
  opacity: 1;
}
.line
{
  display: inline;
}
.item_status
{
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 3px 3px 8px #888888; 
}
/* Disponível */
.item_status_1
{
  background-color: #ff9900;
}

/* Disponível */
.item_status_7
{
  background-color: #80FF80;
}
.item_status_8
{
  background-color: #FFFF80;
}  
.item_status_0, .item_status_5
{
  background-color: #808080;
}

.find_title
{
  font-size: 24px;
}