<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 col-sm-9 mb-5">
    <app-form-search (resultSearch)="resultSearch($event)"></app-form-search>
    </div>
    <div class="col-12 col-sm-3 text-end mb-5">
      <img
        [src]="'assets/img/logo/logo_find.png'"
        class="img-fluid mb-3"
        style="height: 50px;"
        alt="image"
      />
    </div>
    <!-- Vitrine -->
    <app-find-vitrine *ngIf="total != 0" [books]="bookRow.items"></app-find-vitrine>
    <!-- Vitrine Vazia -->
    <div *ngIf="total == 0" class="alert alert-secondary col-12" role="alert">
      Nenhuma obra inserida no catálogo da biblioteca
    </div>
  </div>
</div>
{{ total }}
