.logo-large {
  width: 150px;
  transition: all 0.5s ease-in-out;
}

.logo-small {
  width: 45px;
  transition: all 0.5s ease-in-out;
}

.desk
{
  background: rgb(238,3,255);
  background: linear-gradient(145deg, rgba(238,3,255,1) 0%, rgba(121,6,119,0.8785014005602241) 35%, rgba(159,25,177,0.8280812324929971) 100%);
}
