.img_cover {
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.subjects
  {
    border: 1px solid #00f;
    border-radius: 8px;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
    background-color: #008;
    color: white;
    margin-right: 5px;
  }
