<app-head></app-head>
<app-navbar></app-navbar>

<div class="container">
<div class="row">
<div class="col-2 col-lg-2">
  <img src="https://www.ufrgs.br/find/_covers/image/9786599234415.jpg" class="img-fluid  img_cover " style="width: 100%; margin: 20px 10px 10px 10px;">
</div>
<div class="col-10 col-lg-10 ps-4">
<h1 id="title">{{title}}</h1>
<h4 id="authors">{{authors}}</h4>
<h5 id="year">{{year}}</h5>
<h5 id="publisher">{{publisher}}</h5>
<h5 id="pages">{{pages}}</h5>

<h5 id="isbn">{{isbn13}}</h5>

<div id="subjects">
  <h5 id="subjects"></h5>
  <span *ngFor="let item of subjects" class="subjects">{{ item.word }}</span>
</div>

<div class="col-4 col-lg-4"><app-color></app-color></div>
<div class="col-4 col-lg-4"><app-cdd></app-cdd></div>
<div class="col-4 col-lg-4"><app-cdu></app-cdu></div>

<p id="description">{{ description }} </p>
</div>
</div>
</div>

<app-foot></app-foot>
