.book-content {
  font-size: 1.6rem;
}

/* Capa do livro */
.book-cover {
  width: 100%;
  animation: slideDown 1s ease-out;
}

.book-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.book-abstract {
  font-size: 0.8rem;
  color: #444;
  line-height: 1.0rem;
  margin-bottom: 15px;
}

.book-meta p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
  line-height: 0.9rem;
}

.book-details {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
  font-size: 0.9rem;
}

.book-details p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 8px;
  line-height: 0.9rem;
}



/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
