<app-waiting  *ngIf="!book"></app-waiting>

<div class="container" *ngIf="book">

  <div class="row">
    <div class="col-12 col-lg-4 p-1">
      <!-- Capa do livro -->
      <img [src]="book.cover"
        alt="Capa do Livro"
        class="book-cover"
        (click)="closeBookDetails()" />
    </div>

    <div class="col-12 col-lg-8">
      <!-- Conteúdo do card -->
      <div class="book-content">
        <div class="book-title">{{ book.title }}</div>
        <div class="book-meta">
          <p><strong>ISBN:</strong> {{ book.isbn }}</p>
          <!-- Authors-->
          <app-book-show-array [label]="'Autor(es)'" [type]="'author'" [data]="book.meta.Authors"></app-book-show-array>
          <p><strong>Editora:</strong> {{ getPublisher() }}</p>
          <p><strong>Páginas:</strong> {{ book.meta.Page[0]?.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
