<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <!-- login.component.html -->
      <div class="login custom-form">
        <h1 class="text-center fw-bold mb-2">Esqueci minha senha</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="username">Informe o e-mail cadastrado do usuário</label>
            <input id="username" formControlName="username" />
            <div
              *ngIf="loginForm.value.username == ''"
              class="text-danger mb-4"
            >e-mail é obrigatório</div>
            <div
              *ngIf="loginForm.value.username != ''"
              class="text-success mb-4"
            >&nbsp;</div>
          </div>

        <button type="submit" [disabled]="loginForm.invalid">Ressetar a senha</button>
        </form>
        <div class="full mt-2 text-center">
          <a class="link" [routerLink]="['/signup']" routerLinkActive="router-link-active">Não tem login?</a>
                    |
          <a class="link" [routerLink]="['/login']" routerLinkActive="router-link-active">Já tem cadastro?</a>

        </div>
      </div>
      <div class="col-12 col-lg-6">
        {{ loginForm.value | json }}
      </div>
    </div>
  </div>
</div>
