<div class="container">
  <div class="row mt-5">
    <div class="col-6 p-3">
      <label>Informe o ISBN ou Parte do Título</label>
      <form
        class="search-form"
        [formGroup]="searchForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="input-group">
          <input
            type="text"
            formControlName="searchQuery"
            placeholder="Pesquisar livros..."
            class="search-input"
          />
          <button type="button" class="search-button" (click)="onSubmit()">
            <svg class="search-icon" viewBox="0 0 24 24">
              <path
                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
              />
            </svg>
          </button>
        </div>
      </form>

      <app-catalog-status></app-catalog-status>

    </div>
    <div class="col-6" *ngIf="data">

      <div *ngIf="message && type === 'success'">
        <app-messages [messages]="message" [type]="'success'"></app-messages>
      </div>

      <div *ngFor="let item of itens; let i = index" class="mb-4">
        <app-catalog-item-show
          [data]="item"
          [editMode]="editMode"
          (response)="onItemResponse($event)"
        ></app-catalog-item-show>
      </div>
    </div>
  </div>
</div>
