<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
    aria-controls="offcanvasNavbar">
    <i class="bi bi-arrow-right-square-fill"></i>
</button>

<div class="sidebar-nav">
    <nav class="navbar">
        <div class="container">
            <!-- Menus List -->
            <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <li><a routerLink="/admin/library"><i class="bi bi-building"></i> <span class="item-text">Bibliotecas</span></a></li>
                        <li><a routerLink="/admin/add"><i class="bi bi-book"></i> <span class="item-text">Inserir Livro</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
