<table width="100%" class="table">
    <tr>
        <th width="3%">#</th>
        <th width="40%">Biblioteca</th>
        <th width="40%">Tombo</th>
        <th width="17%">situação</th>
    </tr>
    <tr class="border-top border-secondary" *ngFor="let item of book.item">
        <td>{{item.bl_tombo}}</td>
        <td>{{item.lb_name}}</td>
        <td>{{item.lp_name}}</td>
        <td>
          <div *ngIf="item.bl_status==1" class="status_1 text-light text-center small p-0 ps-2 pe-2 border border-success rounded bg-success">Disponível</div>
          <div *ngIf="item.bl_status==2" class="status_1 text-light text-center small p-0 ps-2 pe-2 border border-warning rounded bg-warning">Emprestado</div>
          <div *ngIf="item.bl_status==9" class="status_1 text-light text-center small p-0 ps-2 pe-2 border border-danger rounded bg-danger">Cancelado</div>
        </td>
    </tr>
</table>
