<div class="full">
  <form [formGroup]="tomboForm">
    <label>Número tombo:</label>
    <input
      id="bl_tombo"
      formControlName="bl_tombo"
      class="form-control"
      style="width: 100px"
    />
    <button class="btn btn-outline-primary" (click)="newItem()">
      Novo Item no acervo
    </button>
    {{ tomboForm.value.bl_tombo | json }}

    <label *ngFor="let item of place">
      <input type="radio" value="{{ item.id_lp }}" formControlName="bl_place" />
      <span class="ms-1">{{ item.lp_name }}</span>
    </label>
  </form>
</div>
