<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-sm-3">
      <img [src]="book.cover" class="img-fluid cover" style="width: 100%" />
    </div>
    <div class="col-12 col-sm-9">
      <h1 class="title ps-5 pe-5 mt-0 mb-3">{{ book.title }}</h1>
      <ul>
        <li *ngFor="let author of book.authors" class="author">
          <h5>Autor(es):</h5>
          {{ author.n_name }}
          <hr />
        </li>
      </ul>

      <ul>
        <li><b>ISBN</b>: {{ book.isbn }}</li>
        <li *ngFor="let item of book.data" class="item">
          <b>{{ item.c_class }}</b
          >: {{ item.n_name }}
        </li>
      </ul>

      ITEMS
      <div>
      <app-item-places [book]="book"></app-item-places>
      </div>
    </div>
  </div>
</div>
{{ book | json }}
