<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-sm-3">
      <img [src]="book.cover" class="img-fluid cover" style="width: 100%" />
    </div>
    <div class="col-12 col-sm-9" *ngIf="book.meta">
      <h1 class="title ps-5 pe-5 mt-0 mb-3">{{ book.title }}</h1>
      <ul>
        <li><b>Autor(es):</b></li>
        <span *ngFor="let author of book.meta.Authors" class="authors">
          <a [routerLink]="['/v/'+author.ID]" class="link">{{author.name }}</a>
        </span>
      </ul>

      <!--------------- Meta -->
      <ul *ngIf="book.meta.Publisher">
        <li *ngFor="let meta of book.meta.Publisher">
          <b>Editora</b>:
          <a [routerLink]="['/v/'+meta.ID]" class="link">
          {{ meta.name }}
          </a>
        </li>
        <li *ngFor="let meta of book.meta.Place"><b>Local</b>:
        <a [routerLink]="['/v/'+meta.ID]" class="link">{{ meta.name }}</a>
        </li>
      </ul>

      <ul>
        <li><b>ISBN</b>: {{ book.isbn }}</li>
        <li *ngFor="let item of book.data" class="item">
          <b>{{ item.c_class }}</b
          >: {{ item.n_name }}
        </li>
      </ul>

      <!---- Assuntos-->
      <ul *ngIf="book.meta.Subject">
        <li><b>Assuntos:</b></li>
        <span class="" *ngFor="let meta of book.meta.Subject">
          <a [routerLink]="['/v/'+meta.ID]" class="link subject">{{ meta.name }}</a>
        </span>
      </ul>

      <!---- Classificação-->
      <ul *ngIf="book.meta.CDD">
        <li class="classification" *ngFor="let meta of book.meta.CDD">
          <b>CDD: </b>
          <a [routerLink]="['/v/'+meta.ID]" class="link">{{ meta.name }}</a>
        </li>
      </ul>
      <ul *ngIf="book.meta.CDU">
        <li class="classification" *ngFor="let meta of book.meta.CDU">
          <b>CDU: </b>
          <a [routerLink]="['/v/'+meta.ID]" class="link">{{ meta.name }}</a>
        </li>
      </ul>

      <app-classification-colors [code]="book.meta"></app-classification-colors>

      ITEMS
      <div>
        <app-item-places [book]="book"></app-item-places>
      </div>
    </div>
  </div>
</div>
