<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-sm-3">
      <img [src]="book.be_cover" class="img-fluid cover" style="width: 100%" />
    </div>
    <div class="col-12 col-sm-9">
      <h1 class="title p-0 m-0">{{ book.bk_title }}</h1>
      <ul>
        <li *ngFor="let author of book.authors" class="author">
          {{ author.n_name }}
          <hr />
        </li>
      </ul>

      <hr>

      <ul>
        <li *ngFor="let item of book.data" class="author">
          <b>{{ item.c_class }}</b>: {{ item.n_name }}
        </li>
        </ul>

    </div>


  </div>
</div>
