<h2>Catalogação</h2>
<div class="container mt-5" *ngIf="status === '9'">
  <div class="row">
    <div class="col-12 col-sm-4 mb-5">
      <button
        type="button"
        class="btn btn-warning mb-2 full"
        (click)="onCancel()"
      >Cancelar</button>

      <app-waiting></app-waiting>

    </div>
  </div>
</div>
<!--- IO WebCam -->
<div class="container mt-5" *ngIf="status === '99'">
  <div class="row">
    <div class="col-12 col-sm-4 mb-5">
        <app-io-webcam></app-io-webcam>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="status === '0'">
  <div class="row">
    <div class="col-12 col-sm-4 mb-5">
      <h4>Inserção de Obra</h4>
      <form (ngSubmit)="onSubmit()" #isbnForm="ngForm">
        <div class="mb-3">
          <p>
            Informe o número do ISBN da obra, caso a obra não tenha, clique no
            botão correspondente.
          </p>
          <label for="isbn" class="form-label">Número do ISBN:</label>
          <input
            type="text"
            id="isbn"
            name="isbn"
            class="form-control border border-primary superbig bold"
            placeholder="Digite o ISBN"
            style="width: 250px"
            [(ngModel)]="isbn"
          />
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary mb-2 full">
            Buscar obra
          </button>
          <br />
          <button
            type="button"
            class="btn btn-secondary mb-2 full"
            (click)="noISBN()"
          >
            Não existe ISBN na obra
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<a href="https://catalogo.bu.ufsc.br/zbib/" target="_blank">Z39.50</a>
<span class="link me-2" (click)="onIOwebcam()">TT</span>
<span class="link me-2" (click)="onCancel()">Cancel</span>
