/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.rdfEdit
  {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: bold;
    color: #008;
  }
.rdfEdit:hover
  {
    color: #00F;
    cursor: pointer;
  }
.work
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.0rem;
  line-height: 1.1rem;
  border-left: #a10512 solid 6px;
  padding-left: 10px;
  color: #333;
}

.expression {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.0rem;
  line-height: 1.1rem;
  border-left: #05a12f solid 6px;
  padding-left: 10px;
  color: #333;
}

.manifestation{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.0rem;
  line-height: 1.1rem;
  border-left: #2b056b solid 6px;
  padding-left: 10px;
  color: #333;
}

.item{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.0rem;
  line-height: 1.1rem;
  border-left: #2b056b solid 6px;
  padding-left: 10px;
  color: #333;
}

.manifestation-about{
  font-size: 1.0rem;
  line-height: 1.1rem;
  border-left: #2b056b solid 6px;
  padding-left: 10px;
  color: #333;
}

.book-author {
  font-weight: bold;
}

.small
  {
    font-size: 0.8em;
    line-height: 0.8em;
  }
  .big
  {
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .superbig
  {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .bold
  {
    font-weight: bold;
  }
  .italic
  {
    font-style: italic;
  }
  .center
  {
    text-align: center;
  }
  .right
  {
    text-align: right;
  }
  .full
  {
    width: 100%;
  }

  .link
  {
    color: 333;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .link:hover
  {
    color: #000;
    text-decoration: none;
    opacity: 1;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    border: 1px solid #333;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
