.logo-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1.5s ease-in-out;
  z-index: 1000;

  &.animate {
    transform: none; // será sobrescrito via ngStyle
  }

  img {
    width: 100px;
    height: auto;
  }
}
