<div *ngIf="data">
  <h3>{{ data?.form_group }}</h3>
  <h6>{{ data?.form_range }}</h6>
  <pre>
    {{ data | json }}
</pre>

<h1>=> {{ data?.type }}</h1>
<h2>ID: {{ ID }}</h2>

<!-- Form Text-->
<app-catalog-edit-rdf-form-text *ngIf="data?.form_range == 'Text'"></app-catalog-edit-rdf-form-text>

<!-- Form Text Editar-->
<app-catalog-edit-rdf-form-text *ngIf="data?.type == 'Literal'" [data]="data" (action)="handleAction($event)"></app-catalog-edit-rdf-form-text>

<!-- Form Classe-->
<app-catalog-edit-rdf-form-class *ngIf="data?.type != 'Literal'" [ID]="ID" [data]="data" (action)="handleAction($event)"></app-catalog-edit-rdf-form-class>

<!-- Form Image-->
</div>
