<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <!-- login.component.html -->
      <div class="login custom-form">
        <h1 class="text-center fw-bold mb-2">Login no Sistema</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="username">E-mail do usuário</label>
            <input id="username" formControlName="username" />
            <div
              *ngIf="loginForm.value.username == ''"
              class="text-danger mb-4"
            >e-mail é obrigatório</div>
            <div
              *ngIf="loginForm.value.username != ''"
              class="text-success mb-4"
            >&nbsp;</div>
          </div>

          <div>
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password" />
            <div
              *ngIf="loginForm.value.password == ''"
              class="text-danger mb-4"
            >senha é obrigatória</div>
            <div
              *ngIf="loginForm.value.password != ''"
              class="text-success mb-4"
            >&nbsp;</div>
          </div>

          <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
        </form>
        <div class="full mt-2 text-center">
          <a class="link" [routerLink]="['/signup']" routerLinkActive="router-link-active">Não tem login?</a>
                    |
          <a class="link" [routerLink]="['/forgout']" routerLinkActive="router-link-active">Esqueceu a senha?</a>

        </div>
      </div>
    </div>
  </div>
</div>
