<div class="container mt-5">
<div class="row">
<div class="col-12 col-lg-2">
<img [src]="logo" class="img-fluid">
</div>
<div class="col-12 col-lg-10" style="font-size: 1.2em; line-height: 1.6em;">

<h1>FIND - Sistema de Gerenciamento de Bibliotecas</h1>

<p>O FIND é um software gratuito desenvolvido especialmente para pequenas bibliotecas que buscam uma solução eficiente e acessível para o gerenciamento de seus acervos. Utilizando o modelo FRBR (Functional Requirements for Bibliographic Records), o FIND oferece uma estrutura moderna e flexível para a catalogação de materiais bibliográficos, permitindo uma organização clara e intuitiva das coleções.</p>

<p>Além de sua compatibilidade com o modelo FRBR, o FIND também suporta descrições MARC (Machine-Readable Cataloging), proporcionando uma transição suave para bibliotecas que já utilizam esse formato amplamente reconhecido e adotado internacionalmente.</p>

<p>Principais Funcionalidades:</p>

<ul>
<li>Catálogo Online: Permite aos usuários pesquisar e acessar o acervo da biblioteca de forma rápida e eficiente.</li>
<li>Gerenciamento de Empréstimos: Ferramentas para controle de empréstimos e devoluções, incluindo alertas para prazos de vencimento.</li>
<li>Relatórios Personalizados: Geração de relatórios detalhados sobre o uso do acervo, estatísticas de empréstimos e outras métricas importantes.</li>
<li>Interface Intuitiva: Design simples e fácil de usar, facilitando a navegação tanto para bibliotecários quanto para usuários finais.</li>
<li>Compatibilidade MARC: Integração completa com descrições MARC, garantindo flexibilidade e padronização na catalogação.</li>
</ul>

<p>O FIND é ideal para bibliotecas comunitárias, escolares e outras instituições que necessitam de um sistema robusto, porém acessível, para o gerenciamento de suas coleções. Descubra como o FIND pode transformar a gestão da sua biblioteca.</p>
<p>O FIND foi desenvolvido na Universidade Federal do Rio Grande do Sul, mais especificamente na Faculdade de Biblioteconomia e Comunicação pelo professor Rene Faustino Gabriel Junior</p>

Experimente o FIND hoje e simplifique a gestão da sua biblioteca com um sistema moderno e eficiente!
</div>
</div>
