/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.t1 {
  font-size: 1.8em;
  font-weight: bold;
}
.t2 {
  font-size: 1.6em;
  font-weight: bold;
}
.t3 {
  font-size: 1.4em;
  font-weight: bold;
}
.t4 {
  font-size: 1.2em;
  font-weight: bold;
}
.t5 {
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1.6;
  margin: 10px;
  padding: 0px;

}
.over
  {
    background-color: #eee;
  }
.over:hover {
  background-color: #fff;
}

.cover
  {
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.0);

  }

.cover:hover {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
  animation: zoomIN 1s;
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes zoomIN{
0% {
    transform: scale(1.0);
 }
100% {
      transform: scale(1.1);
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.edit, .edit a
  {
    color: red;
    cursor: pointer;
  }

.cancel,
.cancel a {
  color: rgb(158, 105, 8);
  cursor: pointer;
}

.big
  {
    font-size: 2.8em;
  }
