<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <label for="tomboInput" class="form-label h4">Consulta de Tombo</label>
      <!-- tombo-form.component.html -->
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="row gy-2 gx-3 align-items-top"
      >
        <div class="col-auto">
          <input
            #cursoInput
            type="text"
            id="tomboInput"
            formControlName="tombo"
            class="form-control border border-secondary"
            [class.is-invalid]="
              form.get('tombo')?.invalid && form.get('tombo')?.touched
            "
            placeholder="Digite o tombo"
          />
          <div class="invalid-feedback">Informe um número válido.</div>
        </div>

        <div class="col-auto">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid || loading"
          >
            <span *ngIf="!loading">Consultar</span>
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm"
            ></span>
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-9 col-9 mt-5">
      <app-tombo-not-found
        *ngIf="!data?.item?.i_titulo && data"
      ></app-tombo-not-found>

      <ng-container *ngIf="data?.item?.i_titulo" class="mt-5">
        <app-view-book
          *ngIf="data"
          [libraryID]="data?.item?.i_library"
          [isbn]="data?.item?.i_identifier"
        ></app-view-book>
      </ng-container>

    </div>
    <div class="col-md-3 col-3 mt-5">
    <app-book-label-library [data]="data"></app-book-label-library>
    <app-tombo-show [data]="data"></app-tombo-show>
    <app-book-label [data]="data" [editMode]="true"></app-book-label>

    <app-book-label-color *ngIf="book" [book]="book"></app-book-label-color>

    <app-book-status [data]="data"></app-book-status>

    </div>
  </div>
</div>
