<div *ngIf="libraries" class="container mt-5">
  <div class="row">
    <div class="col-12">
      <span class="t2">Bibliotecas</span>
      <br>
      <span class="small">selecione a biblioteca</span>
    </div>
    <div class="col-3 blocos border-secondary border m-1 p-1 text-center rounded shadow-lg over" *ngFor="let lib of libraries">
      <a [routerLink]="['/libraries/'+lib.id_lb]" routerLinkActive="router-link-active" class="lib-link text-center">
        <img [src]="lib.lb_logo" class="img-fluid">
        {{ lib.lb_name }}
      </a>
    </div>
    <hr />
  </div>
</div>
