<h2 class="text-center mb-4">Editor RDF</h2>

<div class="row">
  <div class="container mt-4">
    <div class="row g-4">
      <div class="col-md-3">
        <div class="card h-100 text-center shadow-sm">
          <i
            class="bi bi-journal-bookmark-fill text-danger mt-3"
            style="font-size: 3rem"
          ></i>
          <div class="card-body">
            <h5 class="card-title">FORMULÁRIO</h5>

            <a routerLink="/rdf/view" class="btn btn-outline-danger w-100">
              Ver Formulário
            </a>
          </div>
        </div>
      </div>

      <!-- WORK -->
      <div class="col-md-3">
        <div class="card shadow-sm h-100">
          <div class="card-body text-center">
            <i
              class="bi bi-lightbulb-fill text-warning"
              style="font-size: 3rem"
            ></i>
            <h5 class="card-title mt-3">WORK</h5>

            <a
              routerLink="/rdf/form/work/TITLE"
              class="btn btn-outline-danger full mb-2"
              >Editar Título</a
            >
            <a
              routerLink="/rdf/form/work/AUTOR"
              class="btn btn-outline-danger full mb-2"
              >Editar Autor</a
            >
            <a
              routerLink="/rdf/form/work/SUBJECT"
              class="btn btn-outline-danger full mb-2"
              >Editar Assunto</a
            >
          </div>
        </div>
      </div>

      <!-- EXPRESSION -->
      <div class="col-md-3">
        <div class="card shadow-sm h-100">
          <div class="card-body text-center">
            <i class="bi bi-pen-fill text-success" style="font-size: 3rem"></i>
            <h5 class="card-title mt-3">EXPRESSION</h5>

            <a
              routerLink="/rdf/form/expression/LANGUAGE"
              class="btn btn-outline-danger full mb-2"
              >Editar Expressao</a
            >
          </div>
        </div>
      </div>

      <!-- MANIFESTATION -->
      <div class="col-md-3">
        <div class="card shadow-sm h-100">
          <div class="card-body text-center">
            <i
              class="bi bi-journal-bookmark-fill text-danger"
              style="font-size: 3rem"
            ></i>
            <h5 class="card-title mt-3">MANIFESTATION</h5>

            <a
              routerLink="/rdf/form/manifestation/EDITION"
              class="btn btn-outline-danger full mb-2"
              >Editar Edição</a
            >
            <a
              routerLink="/rdf/form/manifestation/CLASSIFICATION"
              class="btn btn-outline-danger full mb-2"
              >Editar Classificação</a
            >
            <a
              routerLink="/rdf/form/manifestation/INDEX"
              class="btn btn-outline-danger full mb-2"
              >Editar Indexação</a
            >
            <a
              routerLink="/rdf/form/manifestation/SERIE"
              class="btn btn-outline-danger full mb-2"
              >Editar Série</a
            >
            <a
              routerLink="/rdf/form/manifestation/NOTE"
              class="btn btn-outline-danger full mb-2"
              >Editar Nota</a
            >
            <a
              routerLink="/rdf/form/manifestation/OTHER"
              class="btn btn-outline-danger full mb-2"
              >Editar Outro</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
