<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3">
      <form [formGroup]="isbnForm" class="mt-3" (ngSubmit)="submitISBN()">
        <label for="first-name">Informe o ISBN da obra: </label>
        <br />
        <input
          id="isbn"
          type="text"
          formControlName="isbn"
          style="width: 250px;"
          class="text-lg form-control border border-secondary"
        />
        9788571933422

        <br />
        <button class="btn btn-outline-primary me-2">Inserir >></button>
        <button class="btn btn-outline-primary " (click)="limpar_isbn()">limpar</button>
        <br />
        <br />
        <span class="text-danger">{{ message }}</span>
      </form>
      <h1>{{ isbn }}</h1>
    </div>

    <div class="col-12 col-lg-9">
    <app-preview *ngIf="vBook" [book]="vBook" [isbn]="isbn"></app-preview>
    </div>
  </div>
</div>
