<div class="container">
  <div class="row">
    <div class="col-3">
      <form [formGroup]="isbnForm" class="mt-3" (ngSubmit)="submitISBN()">
        <label for="first-name">Informe o ISBN da obra: </label>
        <br />
        <input
          id="isbn"
          type="text"
          formControlName="isbn"
          style="width: 250px;"
          class="text-lg form-control border border-secondary"
        />

        <br />
        <button class="btn btn-outline-primary">Inserir >></button>
        <br />
        <br />
        <span class="text-danger">{{ message }}</span>
      </form>
      <h1>{{ isbn }}</h1>
    </div>

    <div class="col-9">
    <app-preview *ngIf="book" [book]="book"></app-preview>
    </div>
  </div>
</div>
