<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
    </div>
    <div class="col-12 col-lg-8">
      <!-- login.component.html -->
      <div class="login custom-form">
        <h1 class="text-center fw-bold mb-2">Cadastro</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="username">E-mail do usuário</label>
            <input id="username" formControlName="username" />
            <div
              *ngIf="loginForm.value.username == ''"
              class="text-danger mb-4"
            >e-mail é obrigatório</div>
            <div
              *ngIf="loginForm.value.username != ''"
              class="text-success mb-4"
            >&nbsp;</div>
          </div>

          <div>
            <label for="username">Nome completo</label>
            <input id="fullname" formControlName="fullname" />
            <div
              *ngIf="loginForm.value.fullname == ''"
              class="text-danger mb-4"
            >Nome completo é obrigatório</div>
            <div
              *ngIf="loginForm.value.fullname != ''"
              class="text-success mb-4"
            >&nbsp;</div>
          </div>

          <div>
            <label for="password">Senha</label>
            <input id="password" type="password" formControlName="password" />
            <div
              *ngIf="loginForm.value.password == ''"
              class="text-danger mb-4"
            >senha é obrigatória</div>
            <div
              *ngIf="loginForm.value.password != ''"
              class="text-success mb-4"
            >&nbsp;</div>
          </div>

          <button type="submit" [disabled]="loginForm.invalid">Cadastrar</button>
        </form>
        <div class="full mt-2 text-center">
          <a class="link" [routerLink]="['/login']" routerLinkActive="router-link-active">Já tem cadastro?</a>
          |
          <a class="link" [routerLink]="['/forgout']" routerLinkActive="router-link-active">Esqueceu a senha?</a>
        </div>
      </div>
    </div>
  </div>
</div>
