<div class="container">
  <div class="row">
    <h1>RDF Editor</h1>

    <table class="table table-bordered table-striped" *ngIf="data">
      <thead>
        <tr>
          <th width="18%" class="text-end">Field</th>
          <th width="2%" class="text-end">#</th>
          <th width="80%">Value</th>
        </tr>
      </thead>

      <!--------- Work -->
      <tr>
      <td class="text-end">Work:
      </td>
      <td>#</td>
      <td colspan="1">
        <h3>{{data?.Work[0]?.concept?.name}}</h3>
      </td>
      </tr>


      <ng-container *ngFor="let section of sections">
        <thead *ngIf="data?.[section.key]">
          <tr>
            <th colspan="3" class="h3 text-center">{{ section.title }}</th>
          </tr>
        </thead>

        <tbody *ngIf="data?.[section.key]">
          <tr *ngFor="let item of data[section.key]">
            <td class="text-end small">{{ item.Caption }}</td>
            <td>
              <!-- Botão que abre o painel lateral -->
              <i
                class="bi bi-plus-circle-fill link text-primary"
                data-bs-toggle="offcanvas"
                data-bs-target="#editorRdfOffcanvas"
              ></i>
            </td>
            <td>
              {{ item | json }}
              <span class="bold">{{ item.data.Caption | json }}</span>
              <i *ngIf="item.Value" class="bi bi-trash text-danger"></i>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
  </div>
</div>

<!-- Offcanvas lateral -->
<!-- Offcanvas lateral -->
<div
  class="offcanvas offcanvas-end custom-offcanvas animate-slide"
  tabindex="-1"
  id="editorRdfOffcanvas"
  aria-labelledby="editorRdfLabel"
>
  <div class="offcanvas-header">
    <h5 id="editorRdfLabel">Editor RDF</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <app-editor-rdf-form></app-editor-rdf-form>
  </div>
</div>
