.foot-group
    {
        background-color: #0a4275;
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom: 40px;
        color: white;
    }

.foot-group-2
    {
        background-color: #002255;
        text-align: center;
        color: white;
        padding: 5px;
    }