<div class="book-label mb-2" *ngIf="show && data?.item && !editMode">
  <div *ngIf="data?.item?.i_ln1">{{ data?.item?.i_ln1 }}&nbsp;</div>
  <div *ngIf="data?.item?.i_ln2">{{ data?.item?.i_ln2 }}&nbsp;</div>
  <div *ngIf="data?.item?.i_ln3">{{ data?.item?.i_ln3 }}&nbsp;</div>
  {{ data?.item?.i_tombo }}
  <span class="ms-4" *ngIf="data?.item?.i_ln4">{{ data?.item?.i_ln4 }}</span>
</div>

<div class="book-label mb-2" *ngIf="show && data?.item  && editMode">
<form [formGroup]="formLabel" (ngSubmit)="onSubmit()">
  <input id="ln1" formControlName="ln1" class="p-0" style="width: 80%;">
  <input id="ln2" formControlName="ln2" class="p-0" style="width: 80%;">
  <input id="ln3" formControlName="ln3" class="p-0" style="width: 80%;">
  <i class="bi bi-arrow-right-square link big p-1" alt="Atualizar" (click)="onSubmit()"></i>
</form>
  {{ data?.item?.i_tombo }}
</div>
