<div class="container">
  <div class="row">
    <div class="col-6 col-lg-6">
      <!-- login.component.html -->
      <div class="login custom-form">
        <h1 class="text-center fw-bold mb-2">Cadastrar nova senha</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="pass1">Informe a nova senha</label>
            <input id="pass1" formControlName="pass1" />
            <div
              *ngIf="loginForm.value.pass1 != ''"
              class="text-success mb-4"
            >
              &nbsp;
            </div>

            <div
              *ngIf="loginForm.value.pass1 == ''"
              class="text-danger mb-4"
            >
              senha obrigatória
            </div>


            <label for="pass2">Confirme a nova senha</label>
            <input id="pass2" formControlName="pass2" />
            <div
              *ngIf="loginForm.value.pass2 != ''"
              class="text-success mb-4"
            >
              &nbsp;
            </div>

            <div
              *ngIf="loginForm.value.pass2 == ''"
              class="text-danger mb-4"
            >
              senha obrigatória
            </div>
          </div>

          <button type="submit" [disabled]="loginForm.invalid">
            registrar nova senha
          </button>
        </form>
        <div class="full mt-2 text-center">
          <a
            class="link"
            [routerLink]="['/signup']"
            routerLinkActive="router-link-active"
            >Não tem login?</a
          >
          |
          <a
            class="link"
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            >Já tem cadastro?</a
          >
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-6 mt-5">
      <div [innerHTML]="html" class="full"></div>
    </div>
  </div>
</div>
