<nav class="navbar navbar-expand-lg navbar-dark bg-dark no-print">
  <div class="container-fluid">
  <a class="navbar-brand me-5" href="#">
    <img
      src="assets/logo_find.png"
      alt="Logo"
      class="logo-large"
      style="height: 20px"
    />
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarFind" aria-controls="navBarFind" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBarFind">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a
          class="nav-link text-gray-700 hover:text-indigo-600 transition font-medium"
          [routerLink]="['/selectLibrary']"
          routerLinkActive="router-link-active"
          >Bibliotecas</a
        >
        </li>

        <li class="nav-item">
        <a
          class="nav-link text-gray-700 hover:text-indigo-600 transition font-medium"
          [routerLink]="['/acervo']"
          routerLinkActive="router-link-active"
          >Acervo</a
        >
        </li>

        <li class="nav-item">
        <a
          class="nav-link text-gray-700 hover:text-indigo-600 transition font-medium"
          [routerLink]="['/report']"
          routerLinkActive="router-link-active"
          >Relatórios</a
        >
        </li>
        <!-- Usuários -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuários
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/users']">Cadastro de usuários</a></li>
          </ul>
        </li>
        <!-- Gerenciamento -->
        <li class="nav-item">
        <a
          class="nav-link text-gray-700 hover:text-indigo-600 transition font-medium"
          [routerLink]="['/gerenciamento']"
          routerLinkActive="router-link-active"
          >Gerenciamento</a
        >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <app-user-icon [loged]="loged" [user]="user"></app-user-icon>
    </div>
  </div>
</nav>
