<div class="container">
  <div class="row">
    <div class="col-12">
    <div class="authentication">
      <form [formGroup]="userLoginForm" (ngSubmit)="signIN()">
        <div class="h2">
          SignIn {{ localItem }}
        </div>
        <div class="mt-4">
          <span>Login</span>
          <br>
          <input type="text" class="form-control border border-secondary" formControlName="login" />
        </div>
        <div class="mt-4">
          <span class="mt-4">Password</span>
          <input type="password" class="form-control border border-secondary" formControlName="pwd" />
        </div>
        <div class="mt-4">
          <button class="btn btn-outline-primary mt-2">Acessar</button>
        </div>
        {{statusForm}}
        <hr>
        <a class="align-text-bottom" [routerLink]="['/social/signup']"> Criar conta</a>
      </form>
    </div>
    </div>
  </div>
</div>
